h1 {
    margin: 0;
    color: rgba(33, 150, 243, 0.6);
}
h2 {
    color: rgba(33, 150, 243, 0);
}
.highcharts-axis {
    display: none;
}
.section-home {
    display: flex;
    flex-wrap: wrap;
    padding: 12px;
}
 .highcharts-yaxis-labels  {
  display: none;
}
 .highcharts-credits {
     display: none;
 }
.high-chatrt .highcharts-xaxis-labels {
    transform: translateY(-8%);
    font-size: 16px;
}
.high-chatrt .highcharts-xaxis-labels text {
    color: #b5bacb;
    text-transform: uppercase;
    font-weight: 500!important;
    font-size: 16px!important;
}
.high-chatrt .highcharts-container {
    position: inherit !important;
}
.high-chatrt .highcharts-tooltip {
    z-index: 9998!important;
}
.CircularProgressbar-trail  {
    stroke: rgba(156, 161, 178, 0.3) !important;
}
.high-chatrt {
    background-color: #2f3242;
    position: relative;
    margin: 12px;
    max-width: calc(100% - 375px);
    width: 100%;
}
.high-chatrt .highcharts-halo {
    fill: rgb(33, 150, 243)!important;
    fill-opacity: 1!important;
}
.circular-progress-list {
    position: absolute;
    top: 25px;
    left: 50px;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1000px;
    width: 60%;
}
.circular-progress-list li {
    display: flex;
}
.circular-progress-list li .circular-progress-wrap{
    max-width: 76px;
}
.circular-progress-list li .text-wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
}
.circular-progress-list li .text-wrap p {
    font-size: 22px;
    font-weight: 700;
    margin: 0;
    color: #ffffff;
}
.circular-progress-list li .text-wrap span {
    font-size: 16px;
    color: #9ca1b2;
    font-weight: 400;
    text-transform: uppercase;
}

.your-projects-card {
    display: block;
    width: 325px;
    max-width: 325px;
    height: 350px;
    margin: 12px;
    background-color: #2f3242;
}
.your-projects-card .card-body {
    overflow-y: scroll;
    max-height: 280px;
    padding: 0;
}
.your-projects-card .card-body::-webkit-scrollbar {
    opacity: 0;
    width: 0;
}

.your-projects-card .card-body::-webkit-scrollbar-track {
    opacity: 0;
}

.your-projects-card .card-body::-webkit-scrollbar-thumb {
    opacity: 0;
}
.your-projects-card header {
    display: flex;
    height: 70px;
    justify-content: center;
    color: #fff;
    align-items: center;
    background-color: #3a3e52;
}
.your-projects-card header h3 {
    margin: 0;
    font-size: 21px;
    font-weight: 400;
}
.your-projects-card .card-body .card-project-list {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
.your-projects-card .card-body .card-project-list li {
    display: flex;
    align-items: center;
    padding: 15px 0 15px 20px;
    border-bottom: 1px solid rgba(156, 161, 178, 0.31);
}
.your-projects-card .card-body .card-project-list li .content-wrap {
    margin-left: 25px;
    flex: 1;
}
.your-projects-card .card-body .card-project-list p {
    margin: 0;
    font-size: 16px;
    color: #ffffff;
    font-weight: 500;
}
.your-projects-card .card-body .card-project-list span {
    font-size: 14px;
    color: #9ea3b4;
    font-weight: 500;
}
.your-projects-card .card-body .card-project-list span i {
    font-size: 20px;
}
.high-chatrt-reports {
    background-color: #2f3242;
    margin: 12px;
    max-width: calc(100% - 725px);
    width: 100%;
}
.high-chatrt-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 25px;
}
.high-chatrt-header h3{
    margin: 0;
    color: #ffffff;
    font-size: 21px;
    font-weight: 500;
}
.calendar-card {
    background-color: #2f3242;
    border: none;
    display: block;
    width: 325px;
    max-width: 325px;
    height: 350px;
    margin: 12px;
}
.calendar-card .react-calendar {
    background-color: #2f3242;
    border: none;
}
.calendar-card .react-calendar .react-calendar__month-view__days button {
    border-radius: 50%;
}
.calendar-card .react-calendar .react-calendar__month-view  {
    padding: 0 21px;
}
.calendar-card .react-calendar .react-calendar__month-view__days__day--neighboringMonth {
    color: #9ea3b4!important;
}
.calendar-card .react-calendar .react-calendar__month-view__days button{
    font-size: 14px;
    font-weight: 500;
    color: #ffffff;
}
.calendar-card .react-calendar .react-calendar__navigation button:hover {
    background-color: #3a3e52;
    border: none;
}
.calendar-card .react-calendar .react-calendar__navigation button {
    background-color: #3a3e52!important;
}
.calendar-card .react-calendar .react-calendar__navigation button:active {
    background-color: #3a3e52;
    border: none;
}
.calendar-card .react-calendar .react-calendar__navigation__label{
    color: #fff;
    font-size: 24px;
}
.calendar-card .react-calendar .react-calendar__navigation__arrow {
    color: #9ea3b4;
    font-size: 28px;
}
.calendar-card .react-calendar .react-calendar__navigation__next2-button {
   display: none;
}
.calendar-card .react-calendar .react-calendar__navigation__prev2-button {
   display: none;
}
.calendar-card .react-calendar .react-calendar__month-view__weekdays {
   color: #9ea3b4;
    font-size: 13px;
    font-weight: 500;
}
.calendar-card .react-calendar .react-calendar__navigation {
    height: 70px;
    background-color: #3a3e52;
}