.site-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 85px;
    background: -moz-linear-gradient(70deg, rgba(57,60,79,1) 0%, rgba(50,53,70,1) 29%, rgba(47,50,66,1) 47%); /* ff3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(53%, rgba(47,50,66,1)), color-stop(71%, rgba(50,53,70,1)), color-stop(100%, rgba(57,60,79,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(70deg, rgba(57,60,79,1) 0%, rgba(50,53,70,1) 29%, rgba(47,50,66,1) 47%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(70deg, rgba(57,60,79,1) 0%, rgba(50,53,70,1) 29%, rgba(47,50,66,1) 47%); /* opera 11.10+ */
    background: -ms-linear-gradient(70deg, rgba(57,60,79,1) 0%, rgba(50,53,70,1) 29%, rgba(47,50,66,1) 47%); /* ie10+ */
    background: linear-gradient(20deg, rgba(57,60,79,1) 0%, rgba(50,53,70,1) 29%, rgba(47,50,66,1) 47%); /* w3c */
}
.wrap-logo {
    max-width: 172px;
}
.wrap-logo img {
    margin-left: 15px;
    width: 100%;
}
.wrap-logo h1 {
    text-indent: -9999px;
    position: absolute;
}
.header-right-side {
    display: flex;
    margin-right: 20px;
    align-items: center;
    transition: .5s;
}
.avatar-button {
    display: flex;
    align-items: center;
}
.chats-list-notification {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}
.chats-list-notification .chat-notification {
    display: flex;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid rgba(156, 161, 178, 0.3);
}
.chats-list-notification .chat-notification p {
    color: #9ca1b2;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}
.site-header .chats-list-notification {
    margin: 0;
    list-style-type: none;
    padding-left: 0;
}
 .chats-list-notification .chat-notification {
     cursor: pointer;
    display: flex;
    padding: 10px 10px 10px 0;
    border-bottom: 1px solid rgba(156, 161, 178, 0.3);
}
 .chats-list-notification .chat-notification p {
    color: #9ca1b2;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    margin: 0;
}
 .chats-list-notification .chat-header {
    background: none;
    display: flex;
    justify-content: space-between;
    height: auto;
}
.chats-list-notification header h5 {
    font-size: 16px;
    margin: 0;
    color: #ffffff;
}
 .chats-list-notification header span {
    font-size: 13px;
}
 .search-wrap {
     transition: .3s;
 }
 .search-text-field {
     transition: .3s;
     padding: 8px;
     color: #9ca1b2;
     background-color: #404359;
     border-radius: 10px;
     border: 1px solid rgba(156, 161, 178, 0.3);
 }
 @media (max-width: 700px) {
     .site-header {
         flex-direction: column;
         height: auto;
         padding: 10px;
     }
     .site-header .header-left-side {
         display: flex;
         align-items: center;
         width: 100%;
         justify-content: space-between;
     }
     .site-header .header-right-side {
         margin: 15px 0 0 0;
     }
     .site-header .search-form {
         display: none !important;
     }
     .site-header .header-left-side .icon-btn {
         display: block !important;
         margin-left: 15px!important;
         color: #ffffff !important;
     }
 }
