.leftbar {
    transition: .2s;
}
.navigation-list {
    list-style-type: none ;
    padding-left: 0;
    margin: 0;
}
.navigation-list li {
    margin: 33px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 31px;
}
.navigation-list li a{
  display: block;
}
.navigation-list li .nav-active i {
  color: #ffffff;
}
.navigation-list li i {
    font-size: 31px;
    color: #757da4;
    -webkit-transition: 1s ;
    -moz-transition: 1s ;
    -ms-transition: 1s ;
    -o-transition: 1s ;
    transition: 1s ;
}
.swipeable-zone {
    display: none;
}
@media (max-width: 700px) {
    .leftbar {
        overflow-y: scroll;
    }
    .leftbar::-webkit-scrollbar {
        opacity: 0;
        width: 0;
    }

    .leftbar::-webkit-scrollbar-track {
        opacity: 0;
    }

    .leftbar::-webkit-scrollbar-thumb {
        opacity: 0;
    }
    .swipeable-zone {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}




